<mat-sidenav-container class="background-none">  
  <mat-spinner *ngIf="isLoading$ | async; else productList" style="margin:0 auto;"></mat-spinner>
  <ng-template #productList>
    <mat-card class="offer-card">
      <mat-card-header>
        <div mat-card-avatar class="offer-header-image">
          <img src="https://miclaroapp.com.co/Images/icon_nuevomiclaroblanco4.png" alt="">
        </div>
        <mat-card-title>SELECTOR DE OFERTAS</mat-card-title>
        <mat-card-subtitle>Claro Guatemala</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <div class="offer__container">
          <div class="offer__form">
            <mat-form-field appearance="fill">
              <mat-label>Seleccione Oferta</mat-label>
              <mat-select (selectionChange)="chooseOffer($event)">
                <mat-option *ngFor="let offer of (offers$ | async)" [value]="offer">
                  {{ offer.name }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <app-characteristics [data]="characteristics$"></app-characteristics>
        </div>
        <app-prices [data]="prices$"></app-prices>
      </mat-card-content>
    </mat-card>
  </ng-template>
</mat-sidenav-container>
