<mat-sidenav-container class="background-none">
  <mat-spinner *ngIf="isLoading$ | async; else productList" style="margin:0 auto;"></mat-spinner>
  <ng-template #productList>
    <mat-card class="offer-card">
      <mat-card-header>
        <div mat-card-avatar class="offer-header-image"></div>
        <mat-card-title>SELECTOR DE OFERTAS</mat-card-title>
        <mat-card-subtitle>Claro Guatemala</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <div class="offer__container">
          <div class="offer__form">
            <mat-form-field appearance="fill">
              <mat-label>Seleccione Oferta</mat-label>
              <mat-select (selectionChange)="chooseOffer($event)">
                <mat-option *ngFor="let offer of (offers$ | async)" [value]="offer">
                  {{ offer.name }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="offer__caption">
            <mat-label *ngFor="let feature of (characteristics$ | async)" >{{feature}}</mat-label>
          </div>
        </div>
        <div class="offer__details">
          <div class="offer_item" *ngFor="let price of (prices$ | async)" >
            <mat-label >{{price.id}}</mat-label>
            <mat-label>{{price.name}}</mat-label>
            <mat-label>{{price.price.amount | currency:price.price.units.code }}</mat-label>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </ng-template>
</mat-sidenav-container>
